<html>
<head>
  <title>Django Girls blog</title>
</head>
<body>
  <div>
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  <div>
    <p>published: 30.06.2019, 11:30</p>
    <h2><a href="">My first post</a></h2>
    <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
  </div>

  <div>
    <p>published: 30.06.2019, 11:30</p>
    <h2><a href="">My second post</a></h2>
    <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
  </div>
</body>
</html>
